.container {
    display: flex;
}

.cards-grid {
    flex-grow: 1;
    margin-left: -2%;
}

.banners {
    border: none;
    height: 43vh;
    position: sticky;
    margin-top: 5%;
    width: 44vh;
    border-radius: 5px;
    background-color: white;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/mask.jpg');
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    background-size: 100% 100%;
}

.banner-weather {
    height: 30vh;
    background-color: aliceblue;
    color: white;
    position: sticky;
    width: 44vh;
   
    border-radius: 5px;
    padding: 15px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1563990262507-cacdeecb72c9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-position: top;
}

.logo-body {
    margin: 2.5%;
}
.right-column {
    position: sticky;
}

/*Banner*/

.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    width: 100%;
    margin-bottom: 2%;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 35px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  
  #banner-down-text h4 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
  }


  /*typed setup*/

  #banner-typed-text {
    text-align: center;
  }