.container {
    display: flex;
}

.cards-grid {
    flex-grow: 1;
}

.banners {
    border: none;
    height: 43vh;
    position: sticky;
    top: 53%;
    width: 37vh;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('/assets/Background-banner.jpg');
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.banner-weather {
    height: 30vh;
    background-color: aliceblue;
    position: sticky;
    width: 37vh;
    top: 3%;
    border-radius: 5px;
}

.logo-body {
    margin: 2.5%;
}
.right-column {
    position: sticky;
}

/*Banner*/

.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    width: 100%;
    margin-bottom: 2%;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  
  /*typed setup*/

  #banner-typed-text {
    text-align: center;
  }