<div class="card mt-2 p-3 w-100" style="background-color: white;">
    <h3 class="mb-5">Que Somos?</h3>
    <p> Você não leu errado, este blog nasceu com uma identidade e uma persona definida, baseada na ética e democracia, qual um grupo de Jornalistas e pessoas interessadas em manifestar suas ideias em qualquer tópico pertinente as sessões definidas, são bem vindos/as.</p>
    <p> O <strong> Blog Piaki </strong>nasceu da vontade de expressar em palavras desde que fora do ambiente das redes sociais, os sentimentos sobre o momento conturbado que o mundo ultrapassa, em especial um país chamado Brasil. </p>
    <p> Por que todos são bem vindos até que se prove o contrário? É simples, os usuários que mantiverem postura respeitosa nos chats, não ofenderem a honra dos demais e for adepto do bom diálogo, continua sendo bem vindo.</p>
    <p> Temos muito a crescer juntos e vamos com tudo construir um novo rumo no campo das ideias.</p>
    <p> Contate-nos através do email: <strong> blogpiaki@gmail.com </strong> </p>
</div>