<div class="card mt-2 p-3 w-100" style="background-color: white;">
    <h1 class="mb-5">Que Somos</h1>
    <p> 
        It’s often reported in the media that countries are performing “joint military exercises.” Such exercises are happening this week, during the visit to Asia by the U.S. secretary of state and secretary of defense, which prompted a loud rebuke from Kim Yo-jong, the sister of North Korea leader Kim Jong-un. During the talks in 2019 between then-President Donald Trump and Kim, Trump reportedly agreed to end the exercises with South Korea, after previously calling them a waste of money.

        According to The Diplomat, the current exercises are set to last nine days, and will be divided into two parts.

        The question is, what exactly are these military exercises, and how do they work? <br>

        NK News this week published an interview with Lieutenant Colonel Stephen Tharp, a retired military officer, to ask about how the exercises between the United States and South Korea work.

        The exercises, Tharp said in the interview, can be many things. Sometimes they merely consist of soldiers from the two countries shooting together at a range. The ones taking place currently, due in part to pandemic restrictions, is more of a simulation.

        “The current exercise that’s being done is really more of a command post exercise,” Tharp said. “So, everybody’s inside the command post and they’re reacting to computer simulation, which has been worked up for many months in advance in terms of a scenario and how this is all going to work.”

        Indeed, The Diplomat had reported that “the allies have been conducting joint exercises as computer simulations since 2018 to support denuclearization negotiations between the United States and North Korea.”

        Tharp went on to liken the exercises to “a giant game of laser tag.” <br>

        Tharp was also asked about North Korea’s reaction to the exercises, and whether it’s anything to worry about. He noted that while North Korea doesn’t announce its exercises ahead of time, the U.S. and South Korea always do.

        “The North Koreans are going to object to these things, and that’s just the way it is,” he said. “The North Koreans train much heavier than we do … From December through March, they train every one of their organizations. They start at the lowest level—the soldier—and work up through the squad and platoon and stuff. And then by March, they’re at the zenith of their offensive readiness. That’s provocative.”

        Ultimately, Tharp defended the continued use of such exercises. <br>

        “It’s not that they’re just important here. They’re important everywhere; The most important thing that a country does is protects its borders and the security of its citizens. And that’s done by the military … If you’re not exercising, then you’re not maintaining your force to be as ready as it should be,” Tharp said of the exercises.

        Stephen Silver, a technology writer for The National Interest, is a journalist, essayist and film critic, who is also a contributor to The Philadelphia Inquirer, Philly Voice, Philadelphia Weekly, the Jewish Telegraphic Agency, Living Life Fearless, Backstage magazine, Broad Street Review and Splice Today. The co-founder of the Philadelphia Film Critics Circle, Stephen lives in suburban Philadelphia with his wife and two sons. Follow him on Twitter at @StephenSilver.
    </p>
</div>