.logo_nav {
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.navbar {
    background-color: #440D0F;
    height: 10vh;
    font-size: 25px;
    position: sticky;
}

.navbar-brand {
    font-family: 'Notable', sans-serif;
}

.login-setup {
    margin-left: 10px;
    color: white;
}